*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
  }
  
  .calculator {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    min-height: 100vh;
  }
  
  .calculator > button {
    background-color: rbga(255, 255, 255, 0.75);
    border: 1px solid #FFFFFF;
    cursor: pointer;
    font-size: 32px;
    outline: none;
  }
  
  .calculator > button:hover {
    background-color: #aaaaaa;
  }
  
  .span-3 {
    grid-column: span 3;
  }
  
  .disabled:hover {
    background-color: rbga(255, 255, 255, 0.75);
    cursor: not-allowed;
  }
  
  .output{
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    justify-content: space-around;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
  }
  
  .output .previous-operand{
    color: rgba(255,255, 255, 0.75);
  }
  
  .output .current-operand{
    color: white;
    font-size: 42px;
  }