absl-py==0.7.0
aenum==2.2.3
affine==2.3.0
alabaster==0.7.12
amqp==2.6.1
aniso8601==8.0.0
ansible==2.7.6
apache-beam==2.21.0
appdirs==1.4.3
art==4.1
asn1crypto==1.0.1
asteval==0.9.15
astor==0.8.0
astral==1.10.1
astroid==1.6.1
astropy==2.0.12
atomicwrites==1.3.0
attrs==20.3.0
autoflake==0.6.6
autopep8==1.2.4
avro==1.8.2
awscli==1.16.255
Babel==2.8.0
backoff==1.7.1
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.tempfile==1.0
backports.weakref==1.0.post1
baikal==1.3.34
bcc==0.5.0
bcrypt==3.1.7
beautifulsoup4==4.8.1
bidict==0.18.3
billiard==3.6.4.0
bleach==3.1.4
bokeh==1.3.2
boltons==20.1.0
boto3==1.9.245
botocore==1.12.245
bson==0.5.8
cachetools==3.1.1
cairocffi==0.9.0
CairoSVG==1.0.22
canmatrix==0.5
catkin-pkg==0.4.1
cattrs==0.9.0
celery==4.4.7
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudml-hypertune==0.1.0.dev6
cloudpickle==1.3.0
colorama==0.4.1
commonmark==0.9.1
configparser==4.0.2
constantly==15.1.0
contextlib2==0.6.0
control==0.8.2
cookies==2.2.1
coverage==4.5.1
cpuset==1.5.6
crcmod==1.7
croniter==1.0.8
cruise-arq==0.6.9.3
cruise-authlib==0.7.2
cruise-authlib-rs==0.3.0
cruise-fastavro==0.0.2
cruise-moonraker==1.60
cruise-tritoncli==2.12.11
cruise-tritonpy==2.12.11
cruiserunner===0.2.16.dev.9b2e438
cryptography==2.7
cssselect2==0.2.2
cycler==0.10.0
Cython==0.29.13
dask==1.2.2
datadog==0.25.0
datashape==0.5.2.1+cruise1.0
debugpy==1.5.1
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.12
descartes==1.1.0
dictdiffer==0.8.1
dictionaries==0.0.1
dill==0.3.1.1
diskcache==3.1.1
distributed==1.22.0
Django==1.8.4
django-enumfield==1.2.1
django-environ==0.4.0
docker==4.2.0
docopt==0.6.2
docutils==0.15.2
empy==3.3.2
entrypoints==0.3
enum34==1.1.6
fastavro==0.21.4
fasteners==0.15
faulthandler==3.1
filelock==3.0.12
Fiona==1.8.13
flake8==3.3.0
Flask==0.10.1
Flask-Cors==3.0.2
Flask-RESTful==0.3.5
flatbuffers==1.11
flock==0.1
flup==1.0.3.dev20110405
freezegun==0.3.9
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
futures==3.2.0
gast==0.3.3
gcsfs==0.2.3
GeoAlchemy2==0.3.0
geographiclib==1.50
geopandas==0.6.2
geopy==1.20.0
gitdb2==2.0.6
GitPython==2.1.15
glob2==0.5
google==2.0.2
google-api-core==1.16.0
google-api-python-client==1.7.4
google-apitools==0.5.28
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-automl==1.0.1
google-cloud-bigquery==1.20.0
google-cloud-bigquery-storage==1.0.0
google-cloud-bigtable==1.0.0
google-cloud-core==1.0.3
google-cloud-dataproc==1.1.1
google-cloud-datastore==1.7.4
google-cloud-dlp==0.13.0
google-cloud-error-reporting==0.20.0
google-cloud-kms==1.4.0
google-cloud-language==1.3.0
google-cloud-logging==1.14.0
google-cloud-monitoring==0.34.0
google-cloud-profiler==3.0.5
google-cloud-pubsub==1.0.2
google-cloud-spanner==1.13.0
google-cloud-storage==1.22.0
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
google-pasta==0.1.8
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
graphviz==0.8.4
grpc-google-iam-v1==0.12.3
grpcio==1.19.0
grpcio-gcp==0.2.2
grpcio-health-checking==1.19.0
gunicorn==19.4.5
h5py==2.8.0
hdfs==2.5.8
HeapDict==1.0.0
html==1.16
html5lib==1.0.1
httplib2==0.12.0
hvac==0.7.1
hypothesis==4.28.0
ibis-framework==0.14.0
idna==2.5
ijson==3.1.4
imageio==2.6.1
imagesize==1.2.0
imbalanced-learn==0.4.2
importlib-metadata==1.6.0
incremental==17.5.0
inflection==0.3.1
interval==1.0.0
ipaddress==1.0.22
ipdb==0.13.7
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.14.0
jsonpickle==2.0.0
jsonschema==3.0.2
junit-xml==1.7
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kombu==4.6.11
koros-python-sdk==1.0.19
kubernetes==11.0.0
lazy-object-proxy==1.4.3
lineageclient==0.2.24
llvmlite==0.31.0
lmfit==0.9.13
lockfile==0.12.2
luigi==2.8.12
lxml==4.2.1
m2r==0.2.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.1.0
mccabe==0.6.1
memoized-property==1.0.3
mistune==0.8.4
mlp-utilities==0.0.52
mock==2.0.0
monotonic==1.5
more-itertools==5.0.0
msgpack==0.6.2
multipledispatch==0.6.0
multiprocess==0.70.5
munch==2.5.0
mypy-extensions==0.4.3
natsort==6.2.1
nbconvert==5.6.1
nbformat==4.4.0
nbsphinx==0.5.1
ndg-httpsclient==0.4.1
netaddr==0.7.19
netifaces==0.10.9
networkx==2.2
nose==1.3.7
notebook==5.7.8
numa==1.4.6
numba==0.47.0
numpy==1.16.6
nvidia-ml-py==11.495.46
oauth2client==3.0.0
oauthlib==3.1.0
odo==0.5.1
opencv-python==4.2.0.32
orderedset==2.0.1
osqp==0.6.1
packaging==19.2
pandas==0.23.4
pandas-gbq==0.13.1
pandas-ml==0.4.6
pandavro==1.5.2
pandocfilters==1.4.2
parameterized==0.7.1
paramiko==2.7.1
path.py==11.5.2
pathlib==1.0.1
pathlib2==2.3.5
pathos==0.2.1
pathspec==0.6.0
patsy==0.5.1
pbr==5.4.4
pdfrw==0.4
pep8==1.7.1
pexpect==4.7.0
pg8000==1.12.5
pickleshare==0.7.5
Pillow==6.2.0
Pint==0.9
pip-tools==4.1.0
pkginfo==1.5.0.1
plotly==4.14.3
pluggy==0.7.1
ply==3.11
pockets==0.9.1
poly2tri==0.4.1
posix-ipc==1.0.0
pox==0.2.7
ppft==1.6.6.1
pptree==2.0
prettytable==0.7.2
privex-pyjwt==1.8.0
progressbar==2.3
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.7.1
psutil==5.6.7
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
py-cpuinfo==0.2.3
py4j==0.10.9
pyannotate==1.2.0
pyarrow==0.15.1
pyasn1==0.4.7
pyasn1-modules==0.2.6
PyAstronomy==0.9.0
pycodestyle==2.2.0
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.9.0
pycurl==7.43.0.1
pydata-google-auth==0.3.0
pydot==1.2.4
pyfakefs==3.7.2
pyflakes==1.5.0
pyglet==1.2.4
Pygments==2.5.2
pygtrie==2.3
PyHamcrest==1.9.0
PyJWT==1.7.1
pykalman-cruise==0.0.2
pylint==1.9.2
pymc3==3.3
pymongo==3.10.1
PyNaCl==1.4.0
pyOpenSSL==16.2.0
pyparsing==2.4.2
Pyphen==0.9.5
pypng==0.0.20
pyproj==2.2.2
pyroute2==0.4.21
pyrsistent==0.15.6
PySAL==1.14.4.post2
pyserial==3.5
pysmi==0.3.4
pysnmp==4.4.12
Pysolar==0.6
pytest==3.6.4
pytest-cov==2.8.1
python-apt==1.6.5+ubuntu0.7
python-cruise-ci-tracing==0.3.0
python-cruise-map-uploader==0.1.2
python-cruise-maplib==0.0.46
python-cruise-moonraker==0.0.3
python-cruise-sdb-state-manager==0.0.23
python-daemon==2.2.3
python-dateutil==2.8.0
python-snappy==0.5.4
python2-secrets==1.0.5
pytz==2019.3
pyuv==1.4.0
PyVCF==0.6.8
PyWavelets==1.0.3
PyYAML==3.13
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
rasterio==1.1.8
ray==0.7.2
recommonmark==0.6.0
redis==3.5.3
regex==2020.4.4
repoze.lru==0.7
requests==2.23.0
requests-oauthlib==1.3.0
res-client-models==0.1.45
responses==0.10.6
retry==0.9.2
retrying==1.3.3
rsa==3.4.2
ruamel.ordereddict==0.4.14
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s2sphere==0.2.5
s3transfer==0.2.1
scandir==1.10.0
scikit-build==0.10.0
scikit-image==0.14.5
scikit-learn==0.20.0
scipy==1.2.3
seaborn==0.9.0
semver==2.13.0
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.1.10
sh==1.12.14
Shapely==1.7.0
simplegeneric==0.8.1
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.14.0
slycot==0.3.5
smmap2==2.0.5
snakefood==1.4
snowballstemmer==2.0.0
snuggs==1.4.7
sortedcontainers==2.1.0
soupsieve==1.9.4
Sphinx==1.8.5
sphinx-automodapi==0.12
sphinx-rtd-theme==0.4.3
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.11
sqlparse==0.3.0
statsmodels==0.10.0
subprocess32==3.5.4
tabulate==0.8.7
tblib==1.6.0
tendo==0.2.8
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.2+cruise.a20ed21
termcolor==1.1.0
terminado==0.8.3
testing.common.database==2.0.3
testing.postgresql==1.3.0
testpath==0.4.4
tftpy==0.8.0
Theano==1.0.4
timeout-decorator==0.4.1
tiny-tf==1.0.0
tinycss2==0.6.1
toml==0.10.2
toolz==0.10.0
toposort==1.5
torch==1.4.0
torchvision==0.5.0
tornado==5.0
tqdm==4.28.1
traitlets==4.3.3
Twisted==16.6.0
typing==3.7.4.1
typing-extensions==3.7.4.1
typing-inspect==0.6.0
ujson==1.35
uncertainties==3.1.2
uritemplate==3.0.0
urllib3==1.25.9
utm==0.4.2
vine==1.3.0
virtualenv==15.1.0
wcwidth==0.1.8
WeasyPrint==0.42.3
webencodings==0.5.1
websocket-client==0.37.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==0.82
XlsxWriter==1.2.1
yamllint==1.11.1
yapf==0.24.0
zict==0.1.3
zipp==0.6.0
zope.interface==4.6.0
